################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ISMConditionalStatements/obj
/ISMConditionalStatements/bin/Debug
/.vs/ISMConditionalStatements/v16/Server/sqlite3
/.vs/task1/v16
